//  palette colori
$red : #D2604B;
$orange : #FFB30F;
$green : #6db099;
$darkblue: #395664;
$grey400 : #65757b;
$grey300 : #bdc5c7;
$grey200 : #e9ebed;
$grey100 : #f4f5f6;
$white: #ffffff;
$black: #191716;

